h2:hover{
color:red;
cursor:pointer;
}
h4:hover{
color:red;
cursor:pointer;

}
h1:hover{
color:red;
cursor:pointer;
}

.fullstack{
background:orange;
}
.navb{
background:orange;

}
.header{
background:orange;

}

p:hover{
color:red;
cursor:pointer;
}
.details{

background:orange;
}

nav{
background:orange;
color:white;
padding:10px;
}


